body {
    text-align: center;
    background-color: black;
}

h1 {
  color: red;
  text-align: center;
  font-size: 150px;
  position: fixed;
  background-color: black;
  margin: 20px 40px;
}

p {
  font-size: 20px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  padding-top: 300px;
}
